<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Binary Objects Column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Binary Objects Column" type="xstring" value="BinaryObject"/>
        <config key="Remove input column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Remove input column" type="xboolean" value="true"/>
        <config key="Maximum Compression Ratio_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Maximum Compression Ratio" type="xdouble" value="-1.0"/>
        <config key="Maximum expanded size (bytes)_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMN_long"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Maximum expanded size (bytes)" type="xlong" value="10000"/>
        <config key="Maximum number of expanded entries_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Maximum number of expanded entries" type="xint" value="-1"/>
        <config key="Fail on explosive expansion_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Fail on explosive expansion" type="xboolean" value="false"/>
        <config key="Compression format_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Compression format" type="xstring" value="gzip"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Explosive expansion detected in some rows resulting in truncated output- check log for details"/>
    </config>
    <entry key="factory" type="xstring" value="com.vernalis.knime.misc.blobs.nodes.compress.expand.DecompressNodeFactory"/>
    <entry key="node-name" type="xstring" value="Decompress Binary Objects"/>
    <entry key="node-bundle-name" type="xstring" value="Plugin for Vernalis Binary Object handling nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="com.vernalis.knime.misc.blobs"/>
    <entry key="node-bundle-vendor" type="xstring" value="Vernalis Research, UK"/>
    <entry key="node-bundle-version" type="xstring" value="1.38.0.qualifier"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Decompress Binary Objects"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 4, Cols: 6"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="2ba9e3c3-f3e4-4e69-a73a-1125bf9476f3"/>
    </config>
</config>
