<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
<extension point="org.knime.workbench.repository.nodes">

 <node
       category-path="/community/vernalis/mmp"
       factory-class="com.vernalis.knime.mmp.nodes.rdkit.multicut.RdkitMatchedPairsNodeFactory"
       id="RdkitMatchedPairsNodeFactory">
 </node>
 <node
       category-path="/community/vernalis/mmp"
       factory-class="com.vernalis.knime.mmp.nodes.rdkit.fragment.RdkitMMPFragmentNodeFactory"
       id="RdkitMMPFragmentNodeFactory">
 </node>
 <node
       category-path="/community/vernalis/mmp"
       factory-class="com.vernalis.knime.mmp.nodes.frag2pair.Frag2PairNodeFactory"
       id="Frag2PairNodeFactory">
 </node>
</extension>

<extension point="org.knime.workbench.repository.categories">
	<category
       description="Vernalis Matched Molecular Pairs implementation"
       icon="icons/MMPCut.png"
       level-id="mmp"
       name="Matched Molecular Pairs"
       path="/community/vernalis/">
	</category>
   </extension>
   
</plugin>
