<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/local.pdb"
            factory-class="com.vernalis.nodes.io.pdb.loadlocal.LocalPDBLoadNodeFactory2"
            />
      <node
            after="LocalPDBLoadNodeFactory2"
            category-path="/community/vernalis/local.pdb"
            factory-class="com.vernalis.nodes.io.pdb.savelocal.SavePDBLocalNodeFactory"
            />
      <node
            category-path="/community/vernalis/sequence"
           factory-class="com.vernalis.nodes.fasta.FASTASequenceNodeFactory_2"
            />
      <node
            after="SavePDBLocalNodeFactory"
            category-path="/community/vernalis/local.pdb"
            factory-class="com.vernalis.nodes.pdb.props.PdbPropertiesNodeFactory"
            />
      <node
            category-path="/community/vernalis/misc"
            factory-class="com.vernalis.nodes.smartsviewer.SmartsViewer2NodeFactory"
            />
      <node
            category-path="/community/vernalis/misc"
            factory-class="com.vernalis.nodes.misc.randomnos.RandomNumbers2NodeFactory"
            />
      <node
            category-path="/community/vernalis/misc"
            factory-class="com.vernalis.nodes.io.listdirs2.ListDirs2NodeFactory"
            />
      <node
            category-path="/community/vernalis/misc/txt.IO"
            factory-class="com.vernalis.nodes.io.txt.LoadTxtNodeFactory"
            />
      <node
            category-path="/community/vernalis/misc/txt.IO"
            factory-class="com.vernalis.nodes.io.txt.SaveTxtLocalNodeFactory"
           />
      <node
            category-path="/community/vernalis/ePMC"
           factory-class="com.vernalis.nodes.epmc.EuroPmcAdvancedSearchNodeFactory"
           />
      <node
            category-path="/community/vernalis/sequence"
            factory-class="com.vernalis.nodes.pdb.getsequence.Pdb2SequenceNodeFactory"
            />
            
      <!-- v1.15.0 -->
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.Distance1DNodeFactory" />
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.Distance2DNodeFactory" />
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.Distance3DNodeFactory" />
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.DistanceNDNodeFactory" />
            
      <!-- v1.16.0 -->
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.VectorDistance1DNodeFactory" />
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.VectorDistance2DNodeFactory" />
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.VectorDistance3DNodeFactory" />
      <node
      		category-path="/community/vernalis/misc/dist"
            factory-class="com.vernalis.nodes.misc.distance.VectorDistanceNDNodeFactory" />
     <node
     		category-path="/community/vernalis/misc/"
            factory-class="com.vernalis.nodes.misc.colprops.InjectColumnPropertiesNodeFactory" />
     <node
     		category-path="/community/vernalis/misc/"
            factory-class="com.vernalis.nodes.misc.colprops.ExtractColumnPropertiesNodeFactory" />
     <node
     		category-path="/community/vernalis/misc/plate"
            factory-class="com.vernalis.nodes.misc.plateids.PlateWellIDNodeFactory" />
     <node
     		category-path="/community/vernalis/misc/plate"
            factory-class="com.vernalis.nodes.misc.plateids.PlateWellIDSourceNodeFactory" />

     <!-- v 1.18.0 -->     
     <node
     		category-path="/community/vernalis/misc/"
            factory-class="com.vernalis.nodes.urlencode.UrlEncodeNodeFactory" />
     <node
     		category-path="/community/vernalis/misc/"
            factory-class="com.vernalis.nodes.urlencode.UrlDecodeNodeFactory" />
     <node
     		category-path="/community/vernalis/collections/"
            factory-class="com.vernalis.nodes.collection.list2set.List2SetNodeFactory" />
    <!-- v 1.20.0 -->
     <node
           category-path="/community/vernalis/collections/"
           factory-class="com.vernalis.nodes.collection.set2list.Set2ListNodeFactory">
     </node>
     <node
           category-path="/community/vernalis/collections/"
           factory-class="com.vernalis.nodes.collection.collection2string.ColToStringNodeFactory">
     </node>
     
     <!-- v 1.27.0 -->
     <node
           category-path="/community/vernalis/collections/"
           factory-class="com.vernalis.nodes.collection.append.AppendCollectionNodeFactory">
     </node>
     <node
           category-path="/community/vernalis/collections/"
           factory-class="com.vernalis.nodes.collection.append.InsertListNodeFactory">
     </node>

      <!-- Deprecated Nodes -->
      <node
            category-path="/community/vernalis/fps"
            deprecated="true"
            factory-class="com.vernalis.nodes.fingerprint.properties.FpPropsNodeFactory"
            />
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.caseselect.FVarFVCaseSelectNodeFactory"
            />
      <node
            deprecated="true"
            factory-class="com.vernalis.nodes.smartsviewer.SmartsViewerNodeFactory"
            />
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.varvalifswitch.FlowVarFvvalIfSwitchNodeFactory"
            />
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.ifswitch.FVarIfSwitchNodeFactory"
            />
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.endif.FlowVarEndIfNodeFactory"
            />
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.endcase.FlowVarEndCaseNodeFactory"
            />
      <node
            category-path="/community/vernalis/misc"
            deprecated="true"
            factory-class="com.vernalis.nodes.misc.randomnos.RandomNumbersNodeFactory"
           />
      <node
            category-path="/community/vernalis/misc/"
            deprecated="false"
            factory-class="com.vernalis.nodes.misc.trimtable.TrimTableNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/collections/"
            deprecated="false"
            factory-class="com.vernalis.nodes.collection.missing.EmptyToMissingCollectionNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/collections/"
            deprecated="false"
            factory-class="com.vernalis.nodes.collection.missing.MissingToEmptyCollectionNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/collections/"
            deprecated="false"
            factory-class="com.vernalis.nodes.collection.size.CollectionSizeNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            after="local.pdb"
            description="Vernalis nodes for Sequence manipulation tools"
            icon="icons/SeqTools.png"
            level-id="sequence"
            name="Sequence Tools"
            path="/community/vernalis/">
      </category>
      <category
            after="rcsb"
            description="Vernalis file reader nodes"
            icon="icons/IO_icon.png"
            level-id="local.pdb"
            name="Local PDB Tools"
            path="/community/vernalis/">
      </category>
      <category
            after="fps"
            description="Miscellaneous Vernalis nodes"
            icon="icons/missing.gif"
            level-id="misc"
            name="Miscellaneous"
            path="/community/vernalis/">
      </category>
      <category
            description="Text-based file IO Nodes"
            icon="icons/IO_icon.png"
            level-id="txt.IO"
            locked="true"
            name="Text-based IO"
            path="/community/vernalis/misc/">
      </category>
      <category
            icon="icons/ePMCv1.png"
            level-id="ePMC"
            locked="true"
            name="European PubMed Central"
            path="/community/vernalis/">
      </category>
      <category
            after="sequence"
            icon="icons/fingerprint_category.png"
            level-id="fps"
            locked="true"
            name="Fingerprints"
            path="/community/vernalis/">
      </category>
      <!-- v1.15.0 -->
      <category
            icon="icons/Dist_Cat.png"
            level-id="dist"
            locked="false"
            name="Geometric Distance"
            path="/community/vernalis/misc">
      </category>
      <!-- v1.16.0 -->
      <category
            icon="icons/Plate_ID.png"
            level-id="plate"
            locked="false"
            name="Plate Tools"
            path="/community/vernalis/misc">
      </category>
      <category
            icon="icons/collections.png"
            level-id="collections"
            locked="true"
            name="Collections"
            path="/community/vernalis">
      </category>
   </extension>
</plugin>
