<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/rcsb"
            factory-class="com.vernalis.pdbconnector.PdbConnectorNodeFactory"
            id="PdbConnectorNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/local.pdb"
            expert-flag="false"
            factory-class="com.vernalis.nodes.io.pdb.loadlocal.LocalPDBLoadNodeFactory2"
            id="LocalPDBLoadNodeFactory2">
      </node>
      <node
            after="LocalPDBLoadNodeFactory2"
            category-path="/community/vernalis/local.pdb"
            expert-flag="false"
            factory-class="com.vernalis.nodes.io.pdb.savelocal.SavePDBLocalNodeFactory"
            id="SavePDBLocalNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/rcsb"
            expert-flag="false"
            factory-class="com.vernalis.nodes.io.rcsb.source.RCSBsDownloadNodeFactory"
            id="RCSBsDownloadNodeFactory">
      </node>
      <node
            after="RCSBsDownloadNodeFactory"
            category-path="/community/vernalis/rcsb"
            expert-flag="false"
            factory-class="com.vernalis.nodes.io.rcsb.manip.RCSBmultiDownloadNodeFactory"
            id="RCSBmultiDownloadNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/sequence"
            expert-flag="false"
            factory-class="com.vernalis.nodes.fasta.FASTASequenceNodeFactory_2"
            id="FASTASequenceNodeFactory_2">
      </node>
      <node
            after="SavePDBLocalNodeFactory"
            category-path="/community/vernalis/local.pdb"
            expert-flag="false"
            factory-class="com.vernalis.nodes.pdb.props.PdbPropertiesNodeFactory"
            id="PdbPropertiesNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/misc"
            expert-flag="false"
            factory-class="com.vernalis.nodes.smartsviewer.SmartsViewer2NodeFactory"
            id="SmartsViewer2NodeFactory">
      </node>
      <node
            category-path="/community/vernalis/misc"
            expert-flag="false"
            factory-class="com.vernalis.nodes.misc.randomnos.RandomNumbers2NodeFactory"
            id="RandomNumbers2NodeFactory">
      </node>
      <node
            category-path="/community/vernalis/misc"
            expert-flag="false"
            factory-class="com.vernalis.nodes.io.listdirs2.ListDirs2NodeFactory"
            id="ListDirs2NodeFactory">
      </node>
      <node
            category-path="/community/vernalis/misc/txt.IO"
            expert-flag="false"
            factory-class="com.vernalis.nodes.io.txt.LoadTxtNodeFactory"
            id="LoadTxtNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/misc/txt.IO"
            expert-flag="false"
            factory-class="com.vernalis.nodes.io.txt.SaveTxtLocalNodeFactory"
            id="SaveTxtLocalNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/ePMC"
            expert-flag="false"
            factory-class="com.vernalis.nodes.epmc.EuroPmcAdvancedSearchNodeFactory"
            id="EuroPmcAdvancedSearchNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/sequence"
            expert-flag="false"
            factory-class="com.vernalis.nodes.pdb.getsequence.Pdb2SequenceNodeFactory"
            id="Pdb2SequenceNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fps"
            expert-flag="false"
            factory-class="com.vernalis.nodes.fingerprint.properties.FpPropsNodeFactory"
            id="FpPropsNodeFactory">
      </node>
      <node
            after="PdbConnectorNodeFactory"
            category-path="/community/vernalis/rcsb"
            factory-class="com.vernalis.pdbconnector.PdbConnectorXmlQueryNodeFactory"
            id="PdbConnectorXmlQueryNodeFactory">
      </node>
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.caseselect.FVarFVCaseSelectNodeFactory"
            id="FVarFVCaseSelectNodeFactory">
      </node>
      <node
            deprecated="true"
            factory-class="com.vernalis.nodes.smartsviewer.SmartsViewerNodeFactory"
            id="com.vernalis.knime.node6">
      </node>
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.varvalifswitch.FlowVarFvvalIfSwitchNodeFactory"
            id="FlowVarFvvalIfSwitchNodeFactory">
      </node>
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.ifswitch.FVarIfSwitchNodeFactory"
            id="FVarIfSwitchNodeFactory">
      </node>
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.endif.FlowVarEndIfNodeFactory"
            id="FlowVarEndIfNodeFactory">
      </node>
      <node
            deprecated="true"
            factory-class="com.vernalis.flowcontrol.nodes.fv.endcase.FlowVarEndCaseNodeFactory"
            id="FlowVarEndCaseNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/misc"
            deprecated="true"
            expert-flag="false"
            factory-class="com.vernalis.nodes.misc.randomnos.RandomNumbersNodeFactory"
            id="RandomNumbersNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Vernalis Nodes for RCSB query and reporting"
            icon="icons/RCSB_PDB.png"
            level-id="rcsb"
            name="RCSB PDB Tools"
            path="/community/vernalis/">
      </category>
      <category
            after="local.pdb"
            description="Vernalis nodes for Sequence manipulation tools"
            icon="icons/SeqTools.png"
            level-id="sequence"
            name="Sequence Tools"
            path="/community/vernalis/">
      </category>
      <category
            after="rcsb"
            description="Vernalis file reader nodes"
            icon="icons/IO_icon.png"
            level-id="local.pdb"
            name="Local PDB Tools"
            path="/community/vernalis/">
      </category>
      <category
            after="fps"
            description="Miscellaneous Vernalis nodes"
            icon="icons/missing.gif"
            level-id="misc"
            name="Miscellaneous"
            path="/community/vernalis/">
      </category>
      <category
            description="Text-based file IO Nodes"
            icon="icons/IO_icon.png"
            level-id="txt.IO"
            locked="true"
            name="Text-based IO"
            path="/community/vernalis/misc/">
      </category>
      <category
            icon="icons/ePMCv1.png"
            level-id="ePMC"
            locked="true"
            name="European PubMed Central"
            path="/community/vernalis/">
      </category>
      <category
            after="sequence"
            icon="icons/fingerprint_category.png"
            level-id="fps"
            locked="true"
            name="Fingerprints"
            path="/community/vernalis/">
      </category>
   </extension>
</plugin>
