<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="scriptFields" type="xstring" value="// Your custom variables:%%00010"/>
        <config key="inCols">
            <config key="0">
                <entry key="JavaType" type="xstring" value="java.lang.Integer"/>
                <config key="Type">
                    <entry key="is_null" type="xboolean" value="false"/>
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
                </config>
                <entry key="ConverterFactory" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(IntValue,class java.lang.Integer,Integer)"/>
                <entry key="JavaName" type="xstring" value="c_Blobsize"/>
                <entry key="Name" type="xstring" value="Blob size"/>
            </config>
            <entry key="array-size" type="xint" value="1"/>
        </config>
        <entry key="templateUUID" type="xstring" isnull="true" value=""/>
        <entry key="scriptImports" type="xstring" value="// Your custom imports:%%00010"/>
        <entry key="scriptBody" type="xstring" value="// Enter your code here:%%00010StringBuilder sb = new StringBuilder();%%00010for(int i = 0; i &lt; c_Blobsize; i++){%%00010%%00009sb.append((char)(i%26 + 'A'));%%00010}%%00010%%00009%%00009%%00010out_Blob = sb.toString();%%00010%%00010"/>
        <entry key="runOnExecute" type="xboolean" value="false"/>
        <entry key="version" type="xstring" value="version 1.x"/>
        <config key="jarFiles">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <config key="inVars">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <config key="bundles">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <config key="outCols">
            <config key="0">
                <entry key="JavaType" type="xstring" value="java.lang.String"/>
                <config key="Type">
                    <entry key="is_null" type="xboolean" value="false"/>
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
                </config>
                <entry key="replaceExisting" type="xboolean" value="false"/>
                <entry key="JavaName" type="xstring" value="out_Blob"/>
                <entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.StringCell$StringCellFactory.createCell(class java.lang.String)"/>
                <entry key="Name" type="xstring" value="Blob"/>
            </config>
            <entry key="array-size" type="xint" value="1"/>
        </config>
        <config key="outVars">
            <entry key="array-size" type="xint" value="0"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.jsnippet.JavaSnippetNodeFactory"/>
    <entry key="node-name" type="xstring" value="Java Snippet"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Java Snippet Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.jsnippets"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.6.0.v202202280847"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Java Snippet"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="fbcf3025-5334-4636-a661-9d59ae3dc487"/>
    </config>
</config>
