<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.switches.DatabaseTableExistsFlowVarNodeFactory" />
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.switches.DatabaseTableExistsNodeFactory" />
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.switches.ReferenceDatabaseTableExistsNodeFactory" />
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.selector.SelectTablelikeNodeFactory" />
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.dimensions.DatabaseDimensionNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.distinct.DbDistinctNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.extractbdt.DbQueryToEmptyTableNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.range.DbRangeNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListCatalogsNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListForeignKeysNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListPrimaryKeysNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListSchemasNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListTablesNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListTableTypesNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/db"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.tovar.DatabaseToVariableNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Database nodes from Vernalis"
            icon="icons/DB_cat.png"
            level-id="db"
            locked="false"
            name="Databases"
            path="/community/vernalis" />
   </extension>
   
</plugin>
