<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.switches.DatabaseTableExistsFlowVarNodeFactory" />
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.switches.DatabaseTableExistsNodeFactory" />
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.switches.ReferenceDatabaseTableExistsNodeFactory" />
      <node
            category-path="/community/vernalis/db"
            factory-class="com.vernalis.knime.database.nodes.selector.SelectTablelikeNodeFactory" />
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Database nodes from Vernalis"
            icon="icons/DB_cat.png"
            level-id="db"
            locked="false"
            name="Databases"
            path="/community/vernalis" />
   </extension>
   
</plugin>
