<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/DBConn_cat.png"
            level-id="legacy"
            locked="false"
            name="Legacy"
            path="/community/vernalis/db" />
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.removesql.RemoveSQLNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.switches.DatabaseTableExistsFlowVarNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.switches.DatabaseTableExistsNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.switches.ReferenceDatabaseTableExistsNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.selector.SelectTablelikeNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListPrimaryKeysNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListForeignKeysNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListSchemasNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListTablesNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListTableTypesNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.rsettobdt.ListCatalogsNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.distinct.DbDistinctNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.range.DbRangeNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.extractbdt.DbQueryToEmptyTableNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.dimensions.DatabaseDimensionNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.tovar.DatabaseToVariableNodeFactory" />
      <node
            category-path="/community/vernalis/db/legacy"
            deprecated="false"
            factory-class="com.vernalis.knime.database.nodes.replaceheader.DbReplaceColumnHeaderNodeFactory" />
   </extension>
   
</plugin>
