<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Mean (Random Values)"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Std Dev (Random Values)"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Min (Random Values)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="2147483647"/>
        </config>
        <config key="Variable_3">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Max (Random Values)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="-2147483648"/>
        </config>
        <config key="Variable_4">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Mean (Random Values)"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="50697.92"/>
        </config>
        <config key="Variable_5">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Std Dev (Random Values)"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="26766.628037046437"/>
        </config>
        <config key="Variable_6">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Min (Random Values)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="1993"/>
        </config>
        <config key="Variable_7">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="Max (Random Values)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="99934"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Column_name_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Column_name" type="xstring" value="Random Values"/>
        <config key="Unique_set_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Unique_set" type="xboolean" value="true"/>
        <config key="Number_of_values_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMN_long"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Number_of_values" type="xlong" value="100"/>
        <config key="Range_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_doubleRange"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="Range">
            <entry key="MIN" type="xdouble" value="0.0"/>
            <entry key="MAX" type="xdouble" value="100000.0"/>
        </config>
        <config key="Double_or_int_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Double_or_int" type="xstring" value="Integer"/>
        <config key="Random Seed_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMN_long"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Random Seed" type="xlong" value="-1"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="com.vernalis.nodes.misc.randomnos.RandomNumbers2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Random Numbers Generator"/>
    <entry key="node-bundle-name" type="xstring" value="Vernalis custom KNIME nodes package "/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="com.vernalis.knime"/>
    <entry key="node-bundle-vendor" type="xstring" value="Vernalis Research, UK"/>
    <entry key="node-bundle-version" type="xstring" value="1.34.1.qualifier"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Random Numbers Generator"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 100, Cols: 1"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="c6bbb32b-641a-4181-99a2-a5a305fbbbfb"/>
    </config>
</config>
