<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/testing/"
            factory-class="com.vernalis.knime.perfmon.nodes.memoryuse.MemoryUsageNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.PerfMonTimingStartNodeFactory"/>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.PerfMonTiming2PortStartNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.PerfMonTiming3PortStartNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.PerfMonTimingEndNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.PerfMonTimingEnd2PortNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.PerfMonTimingEnd3PortNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.memory.PerfMemMonTiming1PortStartNodeFactory">
      </node>
           <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.memory.PerfMemMonTiming2PortStartNodeFactory">
      </node>
           <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.memory.PerfMemMonTiming3PortStartNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.memory.PerfMemMonTiming1PortEndNodeFactory">
      </node>
       <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.memory.PerfMemMonTiming2PortEndNodeFactory">
      </node>
       <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.memory.PerfMemMonTiming3PortEndNodeFactory">
      </node>
             <node
             category-path="/community/vernalis/testing/benchmarking"
             deprecated="false"
             factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.FlowVarPerfMonTimingEndNodeFactory">
       </node>
       <node
             category-path="/community/vernalis/testing/benchmarking"
             deprecated="false"
             factory-class="com.vernalis.knime.perfmon.nodes.loopend.timing.memory.FlowVarPerfMemMonTimingEndNodeFactory">
       </node>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.FlowVarPerfMonTimingStartNodeFactory"/>
      <node
            category-path="/community/vernalis/testing/benchmarking"
            factory-class="com.vernalis.knime.perfmon.nodes.loopstart.timing.memory.FlowVarPerfMemMonTimingStartNodeFactory"/>
     
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/Tools_cat.png"
            level-id="testing"
            name="Testing"
            path="/community/vernalis/">
      </category>
      <category
            icon="icons/Benchmarking_Category.png"
            level-id="benchmarking"
            name="Benchmarking"
            path="/community/vernalis/testing/">
      </category>
   </extension>
   <extension
         point="org.knime.core.NodeFactoryClassMapper">
      <NodeFactoryClassMapper
            classMapper="com.vernalis.knime.perfmon.NodeFactoryClassMapper">
      </NodeFactoryClassMapper>
   </extension>
   
</plugin>
