<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="testing.workflow-result-path"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="E:\Temp\public testflows\mvn_5.4\com.vernalis.knime.misc.blob\Decompress"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="owner" type="xstring" value="S.Roughley@vernalis.com"/>
        <config key="requiredLogErrors">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <config key="requiredLogWarnings">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <config key="requiredLogInfos">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <config key="optionalLogMessages">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <config key="failingNodes">
            <entry key="array-size" type="xint" value="2"/>
            <entry key="0" type="xstring" value="41"/>
            <entry key="1" type="xstring" value="31"/>
        </config>
        <config key="requiredNodeWarnings">
            <entry key="nodeID_0" type="xstring" value="44"/>
            <entry key="message_0" type="xstring" value="Explosive expansion detected in some rows resulting in truncated output- check log for details"/>
            <entry key="nodeID_1" type="xstring" value="45"/>
            <entry key="message_1" type="xstring" value="Explosive expansion detected in some rows resulting in truncated output- check log for details"/>
            <entry key="count" type="xint" value="2"/>
        </config>
        <config key="requiredNodeErrors">
            <entry key="nodeID_0" type="xstring" value="41"/>
            <entry key="message_0" type="xstring" value="Execute failed: com.vernalis.knime.misc.blobs.nodes.ExpansionBombProof$ExpansionDetonationException: Compression ratio 10.987 has exceeded the maximum 10.000"/>
            <entry key="nodeID_1" type="xstring" value="31"/>
            <entry key="message_1" type="xstring" value="Execute failed: java.io.IOException: Stream is not in the BZip2 format"/>
            <entry key="count" type="xint" value="2"/>
        </config>
        <entry key="timeout" type="xint" value="300"/>
        <entry key="maxHilitedRows" type="xint" value="2500"/>
        <config key="usedJanitors">
            <entry key="array-size" type="xint" value="0"/>
        </config>
        <entry key="streamingTest" type="xboolean" value="false"/>
        <entry key="testNodesInComponents" type="xboolean" value="false"/>
        <entry key="requiredLoadVersion" type="xstring" value="&lt;future&gt;"/>
        <config key="supportedTableBackends">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xstring" value="org.knime.core.data.container.BufferedTableBackend"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.testing.node.config.TestConfigNodeFactory"/>
    <entry key="node-name" type="xstring" value="Testflow Configuration"/>
    <entry key="node-bundle-name" type="xstring" value="Test-Node extension for KNIME Workbench"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.testing"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.0.v202411131333"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Testflow Configuration"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
