<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/speedy/filters"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.filter.chirality.ChiralFilterNodeFactory"  id="1"/>
      <node
            category-path="/community/vernalis/speedy/filters"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.filter.chirality.ChiralSplitterNodeFactory" id="2"/>
      
      <node
            category-path="/community/vernalis/speedy/filters"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.filter.brokenbonds.BrokenBondsFilterNodeFactory" id="3"/>
      <node
            category-path="/community/vernalis/speedy/filters"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.filter.brokenbonds.BrokenBondsSplitterNodeFactory" id="4"/>
      <node
            category-path="/community/vernalis/speedy/manipulate"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.manip.hacdesalt.SmilesHACLargestComponentDesaltNodeFactory" id="5"/>
       <node
            category-path="/community/vernalis/speedy/manipulate"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.manip.stereo.enumerate.SimpleSpeedySmilesStereoenumerateNodeFactory" id="6">
      </node>
      <node
            category-path="/community/vernalis/speedy/manipulate"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.manip.stereo.invert.StereoInvertNodeFactory" id="6"/>
      <node
            category-path="/community/vernalis/speedy/props"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.count.hac.SmilesHACNodeFactory" id="8"/>
      <node
            category-path="/community/vernalis/speedy/props"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.count.elem.SmilesElemCountNodeFactory" id="9"/>
      <node
            category-path="/community/vernalis/speedy/props"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.count.charge.SmilesChargeCountNodeFactory" id="10"/>
      <node
            category-path="/community/vernalis/speedy/filters"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.filter.multicomponent.MulticomponentFilterNodeFactory" id="11"/>
      <node
            category-path="/community/vernalis/speedy/filters"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.filter.multicomponent.MulticomponentSplitterNodeFactory" id="12"/>
      <node
            category-path="/community/vernalis/speedy/props"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.count.chiralcentres.SmilesChiralCentreCountNodeFactory" id="13">
      </node>
        <node
            category-path="/community/vernalis/speedy/props"
            factory-class="com.vernalis.knime.chem.speedysmiles.nodes.count.diastereomers.StereoisomerCountNodeFactory" id="14"/>
        <node
              category-path="/community/vernalis/speedy/props"
              deprecated="false"
              factory-class="com.vernalis.knime.chem.speedysmiles.nodes.count.components.SpeedySmilesComponentCountNodeFactory" id="15">
        </node>
        <node
              category-path="/community/vernalis/speedy/props"
              deprecated="false"
              factory-class="com.vernalis.knime.chem.speedysmiles.nodes.count.rings.SpeedySmilesRingCountNodeFactory" id="16">
        </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/SpeedySMILES.png"
            level-id="speedy"
            name="Speedy SMILES"
            path="/community/vernalis/">
      </category>
      <category
            icon="icons/SpeedySMILESprops.png"
            level-id="props"
            name="Properties"
            path="/community/vernalis/speedy/">
      </category>
      <category
            icon="icons/SpeedySMILESmanip.png"
            level-id="manipulate"
            name="Manipulations"
            path="/community/vernalis/speedy/">
      </category>
      <category
            icon="icons/SpeedySMILESfilters.png"
            level-id="filters"
            name="Filters"
            path="/community/vernalis/speedy/">
      </category>
   </extension>
   
</plugin>
