<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.and.FingerprintAndNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.or.FingerprintOrNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.xor.FingerprintXorNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.concatenate.FingerprintConcatNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.intersects.FingerprintIntersectsNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.invert.FingerprintInvertNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.subset.FingerprintSubsetNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.fold.FoldFingerprintNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.max.FingerprintMaxNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.min.FingerprintMinNodeFactory">
      </node>
       <node
            category-path="/community/vernalis/fingerprints/logic"
            factory-class="com.vernalis.knime.fingerprint.nodes.logic.sum.FingerprintSumNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.tohex.FingerprintToHexNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.tobin.FingerprintToBinNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.tostring.FingerprintToStringNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.tosetbitslist.FingerprintToSetBitsListNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.fromhex.HexStringToFingerprintNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.frombin.BinStringToFingerprintNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.fromString.StringToFingerprintNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.fromsetbitslist.FingerprintFromSetBitsListNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.dense2sparse.FingerprintDenseToSparseNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.sparse2dense.FingerprintSparseToDenseNodeFactory">
      </node>
    <node
            category-path="/community/vernalis/fingerprints/convertors"
            factory-class="com.vernalis.knime.fingerprint.nodes.convert.tocountslist.FingerprintToCountsListNodeFactory">
      </node>
    <node
          category-path="/community/vernalis/fingerprints/convertors"
          factory-class="com.vernalis.knime.fingerprint.nodes.convert.fromcountslist.FingerprintFromCountsListNodeFactory">
    </node>
      <node
            category-path="/community/vernalis/fingerprints/properties"
            factory-class="com.vernalis.knime.fingerprint.nodes.props.cardinality.FingerprintCardinalityNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/properties"
            factory-class="com.vernalis.knime.fingerprint.nodes.props.length.FingerprintLengthNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/properties"
            factory-class="com.vernalis.knime.fingerprint.nodes.props.isEmpty.FingerprintEmptyNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/properties"
            factory-class="com.vernalis.knime.fingerprint.nodes.props.type.FingerprintTypeNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/properties"
            factory-class="com.vernalis.knime.fingerprint.nodes.props.totalcount.FingerprintTotalCountNodeFactory">
      </node>
      <node
            category-path="/community/vernalis/fingerprints/properties"
            factory-class="com.vernalis.knime.fingerprint.nodes.props.density.FingerprintDensityNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/fingerprint_category.png"
            level-id="fingerprints"
            locked="false"
            name="Fingerprints"
            path="/community/vernalis">
      </category>
      <category
            description="Fingerprint logic operations"
            icon="icons/fingerprint_logic_catgegory.png"
            level-id="logic"
            name="Logic Operations"
            path="/community/vernalis/fingerprints">
      </category>
      <category
            description="Fingerprint Convertors"
            icon="icons/fingerprint_convertors_catgegory.png"
            level-id="convertors"
            name="Type Convertors"
            path="/community/vernalis/fingerprints">
      </category>
      <category
            description="Fingerprint Property Nodes"
            icon="icons/fp_properties.png"
            level-id="properties"
            name="Properties"
            path="/community/vernalis/fingerprints">
      </category>
   </extension>
   <extension
         point="org.knime.base.AggregationOperator">
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bitvector.BitVectorAndOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bitvector.BitVectorOrOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bitvector.BitVectorXorOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bitvector.BitVectorConcatOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bytevector.ByteVectorAddCeilingOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bytevector.ByteVectorAddRemainderOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bytevector.ByteVectorMaxOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bytevector.ByteVectorMinOperator"
            deprecated="false">
      </AggregationOperator>
      <AggregationOperator
            AggregationOperator="com.vernalis.knime.fingerprint.aggregators.bytevector.ByteVectorConcatOperator"
            deprecated="false">
      </AggregationOperator>
   </extension>
   
</plugin>
