<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
<extension point="org.knime.workbench.repository.nodes">
	<node category-path="/community/vernalis/pmi" 
		factory-class="com.vernalis.knime.chem.pmi.nodes.pmi2.Pmi2NodeFactory"
		id="PmiNodeFactory"/>
	<node category-path="/community/vernalis/pmi"
		factory-class="com.vernalis.knime.chem.pmi.nodes.transform.toprincaxes.AlignToPrincipalAxesNodeFactory"
		id="AlignToPrincipalAxesNodeFactory"/>
</extension>
<extension point="org.knime.workbench.repository.categories">
	<category description="Nodes relating to PMI plotting"
		icon="icons/PMI_icon.png"
		level-id="pmi"
		name="Principal Moments of Inertia (PMIs)"
		path="/community/vernalis/">
	</category>
</extension>   
</plugin>
