<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
      point="org.knime.workbench.repository.categories">
      <category
            icon="icons/blob.png"
            level-id="blob"
            locked="true"
            name="Binary Objects"
            path="/community/vernalis/">
      </category>
      <category
            icon="icons/gzip.png"
            level-id="zip"
            locked="false"
            name="Archiving and Compression"
            path="/community/vernalis/blob/">
      </category>
  </extension>
  <extension
      point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.gzip.UnGzipBlobNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.gzip.GzipBlobNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.zip.UnZipBlobNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.zip.ZipBlobNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.props.BlobPropertiesNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.base64.Base642BlobNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.base64.Blob2Base64NodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.digest.BlobMessageDigestNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.archive.expand.BlobExpandArchiveNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.archive.expand.BlobListArchiveNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.archive.create.CreateArchiveNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.archive.formats.ListArchiveFormatsNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.compress.contract.CompressNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.compress.expand.DecompressNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.archive.detect.DetectArchiveFormatNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.compress.detect.DetectCompressionFormatNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/community/vernalis/blob/zip/"
            deprecated="false"
            factory-class="com.vernalis.knime.misc.blobs.nodes.compress.formats.ListCompressionFormatsNodeFactory"
            hidden="false">
      </node>
  </extension>
  <extension
        point="org.knime.core.NodeFactoryClassMapper">
     <NodeFactoryClassMapper
           classMapper="com.vernalis.knime.misc.blobs.MiscBlobsNodeFactoryClassMapper">
     </NodeFactoryClassMapper>
  </extension>
</plugin>
