<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <!-- New in v 1.32.0 -->
   <extension-point id="variablecondition" name="Flow Variable Condition" schema="schema/variablecondition.exsd"/>
   <extension-point id="porttypecombiner" name="Port Type Combiner" schema="schema/porttypecombiner.exsd"/>
	
	<!-- New in v1.32.0 -->
	<extension point="com.vernalis.knime.flowcontrol.variablecondition">
	    <condition
	          class="com.vernalis.knime.flowcontrol.flowvarcond.impl.simple.EmptyStringFlowVarCondition" />
	    <condition
	          class="com.vernalis.knime.flowcontrol.flowvarcond.impl.simple.RegexMatchesStringFlowVarCondition" />
	    <condition
	          class="com.vernalis.knime.flowcontrol.flowvarcond.impl.simple.WildcardMatchesStringFlowVarCondition" />
	 </extension>
	
	<!-- NODES -->
	<extension point="org.knime.workbench.repository.nodes">

		<node 
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.chunktotime.LoopStartChunkToTimeNodeFactory"/>
		<node 
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEndLoopToTimeNodeFactory"/>
		<node
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.chunkfortime.LoopStartChunkForTimeNodeFactory" />
		
		<node 
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEnd2LoopToTimeNodeFactory" />
		
		<node 
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEnd3LoopToTimeNodeFactory" />
		
		<node 
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEndUpto4LoopToTimeNodeFactory" />
		
		<node 
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.tbltovartotime.LoopStartTableRowToVarLoopToTimeNodeFactory" />
		
		<node 
			category-path="/community/vernalis/flowcontrol/loops/timed" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.tbltovarfortime.LoopStartTableRowToVarLoopForTimeNodeFactory" />
		
		<node 
			category-path="/community/vernalis/io" 
			factory-class="com.vernalis.knime.flowvar.nodes.io.write.WriteVariablesNodeFactory"/>
			
		<node 
			category-path="/community/vernalis/io" 
			factory-class="com.vernalis.knime.flowvar.nodes.io.read.ReadVariablesNodeFactory" />
			
		<node
			category-path="/community/vernalis/flowcontrol/loops/timed"
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.varloopend.VariableTimedLoopEndNodeFactory" />
		
		<node
			category-path="/community/vernalis/flowcontrol/loops/timed"
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.genericstart.LoopStartGenericForTimeNodeFactory" />

		<node
			category-path="/community/vernalis/flowcontrol/loops/timed"
			factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.genericstart.LoopStartGenericToTimeNodeFactory" />
			
		<!-- v1.29.0 -->
		<node
			category-path="/community/vernalis/flowcontrol/loops"
			factory-class="com.vernalis.knime.flowcontrol.nodes.loops.abstrct.multiportloopend.ConfigurableMultiPortLoopEndNodeFactory" />
		
		
		<!-- v1.32.0 -->
		<node
			category-path="/community/vernalis/flowcontrol/switches"
			factory-class="com.vernalis.knime.flowcontrol.nodes.switches.emptytable.EmptyTableSwitchNodeFactory" />
		<node
        	category-path="/community/vernalis/flowcontrol/switches"
        	factory-class="com.vernalis.knime.flowcontrol.nodes.switches.conditional.ifswitch.ConfigurableFvvalIfSwitchNodeFactory" />
  		<node
        	category-path="/community/vernalis/flowcontrol/switches"
        	factory-class="com.vernalis.knime.flowcontrol.nodes.switches.endifcase.EndIfCaseNodeFactory" />
  		<node
        	category-path="/community/vernalis/flowcontrol/switches"
        	factory-class="com.vernalis.knime.flowcontrol.nodes.switches.ifcaseswitch.ConfigurableIfCaseSwitchNodeFactory" />>
  		<node
        	category-path="/community/vernalis/flowcontrol/switches"
        	factory-class="com.vernalis.knime.flowcontrol.nodes.switches.crossover.ConfigurableCrossoverNodeFactory" />
		>
		<!-- Deprecated Nodes -->
		<node
			after="FlowVarEndIfNodeFactory"
			category-path="/community/vernalis/flowcontrol/fvflowcontrol"
			deprecated="true"
			factory-class="com.vernalis.knime.flowcontrol.nodes.fv.caseselect.FVarFVCaseSelectNodeFactory" />
		<node
			after="FVarFVCaseSelectNodeFactory"
			category-path="/community/vernalis/flowcontrol/fvflowcontrol"
			deprecated="true"
			factory-class="com.vernalis.knime.flowcontrol.nodes.fv.endcase.FlowVarEndCaseNodeFactory" />
		<node 
			after="FVarFVIfSwitchNodeFactory" 
			category-path="/community/vernalis/flowcontrol/fvflowcontrol" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.fv.varvalifswitch.FlowVarFvvalIfSwitchNodeFactory" 
			deprecated="true" />
		<node
			category-path="/community/vernalis/flowcontrol" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.bdt.varvalifswitch.FvvalIfSwitchNodeFactory"
			deprecated="true" />
		<node
			after="DatabaseIfSwitchNodeFactory"
			category-path="/community/vernalis/flowcontrol/dbflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.db.varvalifswitch.DataBaseFvvalIfSwitchNodeFactory"
			deprecated="true" />
		<node
			category-path="/community/vernalis/flowcontrol/delay"
			deprecated="true"
			factory-class="com.vernalis.knime.flowcontrol.nodes.wait.totime.WaitToTimeNodeFactory" />
		<node
			category-path="/community/vernalis/flowcontrol/delay"
			deprecated="true"
			factory-class="com.vernalis.knime.flowcontrol.nodes.wait.fortime.WaitForTimeNodeFactory" />
		<node
        category-path="/community/vernalis/flowcontrol/loops"
        deprecated="true"
        factory-class="com.vernalis.knime.flowcontrol.nodes.loops.loopend3port.ThreePortLoopEndNodeFactory"/>
		<node
        category-path="/community/vernalis/flowcontrol/loops"
        deprecated="true"
        factory-class="com.vernalis.knime.flowcontrol.nodes.loops.loopendupto4ports.UptoFourPortLoopEndNodeFactory"/>
		<node
        category-path="/community/vernalis/flowcontrol/loops"
        deprecated="true"
        factory-class="com.vernalis.knime.flowcontrol.nodes.loops.loopendupto6ports.UptoSixPortLoopEndNodeFactory"/>

		<!-- Flow Control nodes deprecated in v1.32.0 -->
		<node
			category-path="/community/vernalis/flowcontrol/fvflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.fv.ifswitch.FVarFVIfSwitchNodeFactory" 
			deprecated="true"/>	
		
		<node
			after="FlowVarFvvalIfSwitchNodeFactory" 
			category-path="/community/vernalis/flowcontrol/fvflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.fv.endif.FlowVarEndIfNodeFactory"
			deprecated="true"/>
	
		<node
			after="FVarFVIfSwitchNodeFactory" 
			category-path="/community/vernalis/flowcontrol/fvflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.fv.varvalifswitch.FlowVarFvvalIfSwitchNodeFactory2"
			deprecated="true" />

		<node
			category-path="/community/vernalis/flowcontrol" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.bdt.varvalifswitch.FvvalIfSwitchNodeFactory2" 
			deprecated="true"/>
			
		<node
			after="DatabaseIfSwitchNodeFactory"
			category-path="/community/vernalis/flowcontrol/dbflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.db.varvalifswitch.DataBaseFvvalIfSwitchNodeFactory2" 
			deprecated="true"/>
			
		<node
			after="DatabaseEndIfNodeFactory"
			category-path="/community/vernalis/flowcontrol/dbflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.db.caseselect.DatabaseCaseSelectNodeFactory" 
			deprecated="true"/>
		
		<node
			category-path="/community/vernalis/flowcontrol/dbflowcontrol" 
			factory-class="com.vernalis.knime.flowcontrol.nodes.db.ifswitch.DatabaseIfSwitchNodeFactory" 
			deprecated="true"/>
	
		<node
			after="DataBaseFvvalIfSwitchNodeFactory"
			category-path="/community/vernalis/flowcontrol/dbflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.db.endif.DatabaseEndIfNodeFactory" 
			deprecated="true"/>
	
		<node
			after="DatabaseCaseSelectNodeFactory"
			category-path="/community/vernalis/flowcontrol/dbflowcontrol"
			factory-class="com.vernalis.knime.flowcontrol.nodes.db.endcase.DatabaseEndCaseNodeFactory" 
			deprecated="true"/>
	
	</extension>
	<extension point="org.knime.workbench.repository.categories">
		<category
			description="Nodes for Flow control" 
			icon="icons/FlowControlGroup_16x16.png" 
			level-id="flowcontrol" 
			name="Flow Control" 
			path="/community/vernalis/" />
		<category 
			icon="icons/LoopCategory.png" 
			level-id="loops" 
			name="Loops" 
			path="/community/vernalis/flowcontrol/" />
		<category 
			icon="icons/TimedLoopCategory.png" 
			level-id="timed" 
			name="Timed Loops" 
			path="/community/vernalis/flowcontrol/loops/" />
		<category
			after="loops"
			icon="icons/Delays.png"
			level-id="delay"
			name="Delays"
			path="/community/vernalis/flowcontrol/" />
		<category
			icon="icons/Disk2knime.png"
			level-id="io"
			name="IO"
			path="/community/vernalis/" />
  <category
        icon="icons/FlowControlGroupFlowVars_16x16.png"
        level-id="switches"
        locked="true"
        name="Switches"
        path="/community/vernalis/flowcontrol">
  </category>
	</extension>
	<extension point="org.knime.workbench.repository.registeredFileExtensions">
		<FileExtensionMapping
			NodeFactory="com.vernalis.knime.flowvar.nodes.io.read.ReadVariablesNodeFactory">
			<FileExtension
					extension=".variables" />
		</FileExtensionMapping>
	</extension>
</plugin>
