<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/vernalis/flowcontrol/fvflowcontrol" factory-class="com.vernalis.knime.flowcontrol.nodes.fv.ifswitch.FVarFVIfSwitchNodeFactory" id="FVarFVIfSwitchNodeFactory">
      </node>
      <node after="FlowVarEndIfNodeFactory" category-path="/community/vernalis/flowcontrol/fvflowcontrol" factory-class="com.vernalis.knime.flowcontrol.nodes.fv.caseselect.FVarFVCaseSelectNodeFactory" id="FVarFVCaseSelectNodeFactory">
      </node>
   <node after="FlowVarFvvalIfSwitchNodeFactory" category-path="/community/vernalis/flowcontrol/fvflowcontrol" factory-class="com.vernalis.knime.flowcontrol.nodes.fv.endif.FlowVarEndIfNodeFactory" id="FlowVarEndIfNodeFactory"/>
   <node after="FVarFVCaseSelectNodeFactory" category-path="/community/vernalis/flowcontrol/fvflowcontrol" factory-class="com.vernalis.knime.flowcontrol.nodes.fv.endcase.FlowVarEndCaseNodeFactory" id="FlowVarEndCaseNodeFactory">
   </node>
   <node after="FVarFVIfSwitchNodeFactory" category-path="/community/vernalis/flowcontrol/fvflowcontrol" factory-class="com.vernalis.knime.flowcontrol.nodes.fv.varvalifswitch.FlowVarFvvalIfSwitchNodeFactory" id="FlowVarFvvalIfSwitchNodeFactory">
   </node>
   <node category-path="/community/vernalis/flowcontrol" factory-class="com.vernalis.knime.flowcontrol.nodes.bdt.varvalifswitch.FvvalIfSwitchNodeFactory" id="BuffDTFvvalIfSwitchNodeFactory">
   </node>
   <node
         after="DatabaseIfSwitchNodeFactory"
         category-path="/community/vernalis/flowcontrol/dbflowcontrol"
         factory-class="com.vernalis.knime.flowcontrol.nodes.db.varvalifswitch.DataBaseFvvalIfSwitchNodeFactory"
         id="DataBaseFvvalIfSwitchNodeFactory">
   </node>
   <node
         after="DatabaseEndIfNodeFactory"
         category-path="/community/vernalis/flowcontrol/dbflowcontrol"
         factory-class="com.vernalis.knime.flowcontrol.nodes.db.caseselect.DatabaseCaseSelectNodeFactory"
         id="DatabaseCaseSelectNodeFactory">
   </node>
   <node category-path="/community/vernalis/flowcontrol/dbflowcontrol" factory-class="com.vernalis.knime.flowcontrol.nodes.db.ifswitch.DatabaseIfSwitchNodeFactory" id="DatabaseIfSwitchNodeFactory">
   </node>
   <node
         after="DataBaseFvvalIfSwitchNodeFactory"
         category-path="/community/vernalis/flowcontrol/dbflowcontrol"
         factory-class="com.vernalis.knime.flowcontrol.nodes.db.endif.DatabaseEndIfNodeFactory"
         id="DatabaseEndIfNodeFactory">
   </node>
   <node
         after="DatabaseCaseSelectNodeFactory"
         category-path="/community/vernalis/flowcontrol/dbflowcontrol"
         factory-class="com.vernalis.knime.flowcontrol.nodes.db.endcase.DatabaseEndCaseNodeFactory"
         id="DatabaseEndCaseNodeFactory">
   </node>
   <node category-path="/community/vernalis/flowcontrol/loops" factory-class="com.vernalis.knime.flowcontrol.nodes.loops.loopend3port.ThreePortLoopEndNodeFactory" id="ThreePortLoopEndNodeFactory">
   </node>
   <node category-path="/community/vernalis/flowcontrol/loops" factory-class="com.vernalis.knime.flowcontrol.nodes.loops.loopendupto4ports.UptoFourPortLoopEndNodeFactory" id="UptoFourPortLoopEndNodeFactory">
   </node>
   <node category-path="/community/vernalis/flowcontrol/loops" factory-class="com.vernalis.knime.flowcontrol.nodes.loops.loopendupto6ports.UptoSixPortLoopEndNodeFactory" id="UptoSixPortLoopEndNodeFactory">
   </node>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.chunktotime.LoopStartChunkToTimeNodeFactory" id="LoopStartChunkToTimeNodeFactory"/>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEndLoopToTimeNodeFactory" id="LoopEndLoopToTimeNodeFactory"/>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.chunkfortime.LoopStartChunkForTimeNodeFactory" id="LoopStartChunkForTimeNodeFactory">
</node>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEnd2LoopToTimeNodeFactory" id="LoopEnd2LoopToTimeNodeFactory">
</node>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEnd3LoopToTimeNodeFactory" id="LoopEnd3LoopToTimeNodeFactory">
</node>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.loopend.LoopEndUpto4LoopToTimeNodeFactory" id="LoopEndUpto4LoopToTimeNodeFactory">
</node>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.tbltovartotime.LoopStartTableRowToVarLoopToTimeNodeFactory" id="LoopStartTableRowToVarLoopToTimeNodeFactory"/>
<node category-path="/community/vernalis/flowcontrol/loops/timed" factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.tbltovarfortime.LoopStartTableRowToVarLoopForTimeNodeFactory" id="LoopStartTableRowToVarLoopForTimeNodeFactory"/>
<node category-path="/community/vernalis/flowcontrol/delay" factory-class="com.vernalis.knime.flowcontrol.nodes.wait.totime.WaitToTimeNodeFactory" id="WaitToTimeNodeFactory">
</node>
<node category-path="/community/vernalis/flowcontrol/delay" factory-class="com.vernalis.knime.flowcontrol.nodes.wait.fortime.WaitForTimeNodeFactory" id="WaitForTimeNodeFactory">
</node>
<node category-path="/community/vernalis/io" factory-class="com.vernalis.knime.flowvar.nodes.io.write.WriteVariablesNodeFactory" id="WriteVariablesNodeFactory"/>
<node category-path="/community/vernalis/io" factory-class="com.vernalis.knime.flowvar.nodes.io.read.ReadVariablesNodeFactory" id="ReadVariablesNodeFactory"/>
<node
      category-path="/community/vernalis/flowcontrol/loops/timed"
      factory-class="com.vernalis.knime.flowcontrol.nodes.timedloops.varloopend.VariableTimedLoopEndNodeFactory"
      id="VariableTimedLoopEndNodeFactory">
</node>
</extension>
   <extension point="org.knime.workbench.repository.categories">
      <category description="Nodes for Flow control" icon="icons/FlowControlGroup_16x16.png" level-id="flowcontrol" name="Flow Control" path="/community/vernalis/">
      </category>
      <category icon="icons/FlowControlGroupFlowVars_16x16.png" level-id="fvflowcontrol" name="Flow Variable" path="/community/vernalis/flowcontrol/">
      </category>
      <category after="fvflowcontrol" description="Flow control nodes for database ports" icon="icons/FlowControlGroupDataBase.png" level-id="dbflowcontrol" name="Database" path="/community/vernalis/flowcontrol/">
      </category>
      <category icon="icons/LoopCategory.png" level-id="loops" name="Loops" path="/community/vernalis/flowcontrol/">
      </category>
      <category icon="icons/TimedLoopCategory.png" level-id="timed" name="Timed Loops" path="/community/vernalis/flowcontrol/loops/">
      </category>
      <category
            after="loops"
            icon="icons/Delays.png"
            level-id="delay"
            name="Delays"
            path="/community/vernalis/flowcontrol/">
      </category>
      <category
            icon="icons/Disk2knime.png"
            level-id="io"
            name="IO"
            path="/community/vernalis/">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.registeredFileExtensions">
      <FileExtensionMapping
            NodeFactory="com.vernalis.knime.flowvar.nodes.io.read.ReadVariablesNodeFactory">
         <FileExtension
               extension=".variables">
         </FileExtension>
      </FileExtensionMapping>
   </extension>
   
</plugin>
