<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="statementSeparator" type="xstring" value=";"/>
        <entry key="statement" type="xstring" value="create table if not exists something (column1 INTEGER NOT NULL,column2 INTEGER NOT NULL,value, PRIMARY KEY (column1, column2));%%00010create table if not exists something_else (col1 INTEGER NOT NULL, blah TEXT, FOREIGN KEY(col1) REFERENCES something(column1))"/>
        <config key="multipleStatement_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="multipleStatement" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.database.node.manipulation.executor.DBExecutorNodeFactory"/>
    <entry key="node-name" type="xstring" value="DB SQL Executor"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.2.v202203041212"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="DB SQL Executor"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.database.port.DBSessionPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.database.port.DBSessionPortObject"/>
            <entry key="port_object_summary" type="xstring" value="SQLite 7777f532-40ab-43ea-9693-ad19e67e139a"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="4e665313-84d9-4768-903e-aee31178fcb4"/>
    </config>
</config>
